body{background-color: azure;}
.borderElement {
background-color: azure;
border: 6px solid MediumTurquoise;
border-radius: 10px;
width: 70%;
}
input[type=button], input[type=submit], input[type=reset] {
background-color: Gainsboro;
border:3px solid skyblue;
color: black;
padding: 16px 32px;
text-decoration: none;
cursor: pointer;
margin-left:60%;   
position:absolute;
}
.editing{
font-size:45px;
font-weight: 400;
font-style: italic;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}